@using BookApplication.Data;
@model Category;


<h2>@Model.Name</h2>

@if (Model.Books.Count > 0)
{
    <h3>Books:</h3>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>@book.Name</li>
        }
    </ul>
}
else
{
    <p>No books found for this category.</p>
}
